////////////////////////
// Keeping structural CSS separate from stylistic CSS can be helpful. This file
// is a good place for page scaffolding elements and properties like width, height,
// margin, and padding.
////////////////////////
// @media (max-width: $screen-xs-min){
//
//
// }
//small
@media (max-width: $screen-xs-max) {
    .pull-xs-left {
        float: left;
    }

    .pull-xs-right {
        float: right;
    }

    .list-inline {
        li {
            display: block;
            margin-bottom: 0.5em;
        }
    }
}

@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    .pull-sm-left {
        float: left;
    }

    .pull-sm-right {
        float: right;
    }

    #tagline-block {
        font-size: $font-size-base*2.5;
    }

    .sdgbox {
        h2 {
            font-size: 1.5rem !important;
        }

        h3 {
            font-size: 1.2rem !important;
        }
    }
}

@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
    .pull-md-left {
        float: left;
    }

    .pull-md-right {
        float: right;
    }
}

@media (max-width: $screen-md-min) {
    p.cover-title {
        font-size: 1.4em;
    }

    p.cover-title.topofimg {
        left: 7em;
    }
}

@media (min-width: $screen-md-min) {

    .navbar,
    .navbar-nav {
        height: 34px;
    }
}

@media (min-width: $screen-lg-min) {
    .pull-lg-left {
        float: left;
    }

    .pull-lg-right {
        float: right;
    }
}