//bootstrap customizations should be above here
@import "~bootstrap/scss/bootstrap";
@import "variables-custom";
@import "ie";
@import "includes/typography";
@import "includes/layout";
@import "includes/header";
@import "includes/footer";

%cover-section {
    background-size: cover !important;
    // height: 100vh;
}

a {
    color: $blue-dark-3;

    &:hover {
        color: darken($blue-dark-3, 10%);
    }

    .footer & {
        display: inline-block;
    }
}

// homepage
#first-section {
    padding-top: 0;
}

.jumbotron {
    padding: 0;
    padding-bottom: 1em;
}

.topBanner {
    height: 10em;
    background-repeat-x: no-repeat;
    background-size: 100%;
    margin-bottom: 2em;
}

section#home-video {
    // background: url('./images/sdgwheel.png') no-repeat $blue-background;
    background: no-repeat $blue-background;
    background-position: right;
    padding: 3em 0;
}

#opacity-div {
    display: block;
    background-color: darkslategrey;
    width: 100%;
    opacity: 0.8;
}

#latest-section {
    background-color: white;
}

section {
    padding-top: 1em;
    background-color: white;
}

img#sdgwheel {
    margin: 3em 0 2em;
}

img#sdgwheel2 {
    margin-top: 2.9em;
    padding-bottom: 1em;
}

.noypadding {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

#floating-block {
    background-color: white;
    padding-left: 15px;
    padding-right: 15px;
    opacity: 0.87;
    padding-bottom: 15px;
}

#tagline-block {
    color: white;
    opacity: .8;
    padding: 1em 0 .5em 0;
    /* width: 12em; */
    height: -webkit-min-content;
    height: -moz-min-content;
    height: auto;
    position: relative;
    /* top: 16%; */
    /* right: 2%; */
}

%desa_stairs_base {
    position: absolute;
    background-size: contain;
    background-image: url('https://sustainabledevelopment.un.org/content/images/desa_stairs.png');
    background-repeat: no-repeat;
    z-index: 999;
}

.desa_stairs_big {
    @extend %desa_stairs_base;
    right: 0;
    bottom: 0;
    height: 70%;
    width: 30%;
}

.desa_stairs {
    @extend %desa_stairs_base;
    right: 1em;
    bottom: 2em;
    height: 7em;
    width: 7em;
}

.topStoriesText span {
    font-size: inherit !important;
}

.latest-link,
.latest-link:hover {
    padding: 0.4em 0 0.4em 1em;
    display: block;
    font-size: 12px;
    border-bottom: 1px solid #eee;
}

button#btn-hpsearch {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    background-color: $blue;
    border: $blue;
    height: 2.4em;

    &:hover {
        background: darken($blue, 10%);
    }

    .fa-search {
        font-size: 1.4em;
        height: 1.15em;
        line-height: 1.2em;
    }
}

.fa-user {
    font-size: 1.4em;
    color: $blue;
    cursor: pointer;
}

a.list-group-item.list-group-item-action {
    color: $blue-dark-3;
}

.featured-image {
    background-size: cover !important;
    background-position: center !important;
    width: 100%;
    height: 14em;
}

.sdg {
    background-size: 100% !important;
    height: 170px;
    background-position-x: center !important;
}

.sdgbig {
    // height: -webkit-fill-available !important;
    height: 376px !important;
    background-size: 63% !important;
}

#skeleton1 {
    padding-left: 15px;
    padding-right: 15px;

    img:hover {
        transition: transform 0.8s;
        transform: scale(1.1);
    }

    & * {
        padding: 0;
    }
}

.numbers-line {
    margin-top: 1.5em;
}

div#sdg2,
#mainsdgbox2 {
    //background: url('./images/E_SDG goals_icons-individual-rgb-02.png') no-repeat;
    background-color: $sdg2;
}

div#sdg3,
#mainsdgbox3 {
    //background: url('./images/E_SDG goals_icons-individual-rgb-03.png') no-repeat;
    background-color: $sdg3;
}

div#sdg4,
#mainsdgbox4 {
    //background: url('./images/E_SDG goals_icons-individual-rgb-04.png') no-repeat;
    background-color: $sdg4;
}

div#sdg5 {
    background: url('./images/E_SDG goals_icons-individual-rgb-05.png') no-repeat;
    background-color: $sdg5;
}

#mainsdgbox5 {
    background-color: $sdg5;
}

div#sdg6,
#mainsdgbox6 {
    //background: url('./images/E_SDG goals_icons-individual-rgb-06.png') no-repeat;
    background-color: $sdg6;
}

div#sdg7,
#mainsdgbox7 {
    //background: url('./images/E_SDG goals_icons-individual-rgb-07.png') no-repeat;
    background-color: $sdg7;
}

div#sdg8,
#mainsdgbox8 {
    //background: url('./images/E_SDG goals_icons-individual-rgb-08.png') no-repeat;
    background-color: $sdg8;
}

div#sdg9,
#mainsdgbox9 {
    //background: url('./images/E_SDG goals_icons-individual-rgb-09.png') no-repeat;
    background-color: $sdg9;
}

div#sdg10,
#mainsdgbox10 {
    //background: url('./images/E_SDG goals_icons-individual-rgb-10.png') no-repeat;
    background-color: $sdg10;
}

div#sdg11,
#mainsdgbox11 {
    //background: url('./images/E_SDG goals_icons-individual-rgb-11.png') no-repeat;
    background-color: $sdg11;
}

div#sdg12,
#mainsdgbox12 {
    //background: url('./images/E_SDG goals_icons-individual-rgb-12.png') no-repeat;
    background-color: $sdg12;
}

div#sdg13,
#mainsdgbox13 {
    //background: url('./images/E_SDG goals_icons-individual-rgb-13.png') no-repeat;
    background-color: $sdg13;
}

div#sdg14,
#mainsdgbox14 {
    //background: url('./images/E_SDG goals_icons-individual-rgb-14.png') no-repeat;
    background-color: $sdg14;
}

div#sdg15,
#mainsdgbox15 {
    //background: url('./images/E_SDG goals_icons-individual-rgb-15.png') no-repeat;
    background-color: $sdg15;
}

div#sdg16,
#mainsdgbox16 {
    //background: url('./images/E_SDG goals_icons-individual-rgb-16.png') no-repeat;
    background-color: $sdg16;
}

div#sdg17,
#mainsdgbox17 {
    //background: url('./images/E_SDG goals_icons-individual-rgb-17.png') no-repeat;
    background-color: $sdg17;
}

.accountbox {
    display: none;
    position: absolute;
    overflow: auto;
    max-height: 450px;
    right: 0px;
    top: 108px;
    width: 100%;
    font-size: 13px;
    z-index: 999;
    background: #fff;
    padding: 0px;
    // border-bottom: 3px solid #ff9900;
}

.fblogin {
    border: 0px;
    width: 300px;
}

.inputtext {
    padding: 10px;
    background: #f2f2f2;
    border: 1px solid #ccc;
    width: 270px;
    font-size: 12px;
    margin-bottom: 5px;
}

.clickbutton {
    height: 40px;
    padding: 10px;
    border: 0px;
    font-size: 12px;
    color: #fff;
    background: #0092B9;
    border: 1px solid #fff;
    text-transform: uppercase;
    width: 300px;
}

.topHeadline,
.docHeader {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    margin-bottom: 10px;
    color: #4d4d4d;
}